<div class="wrapper">
    <div *ngIf="!loading" class="body">
        <div class="login-container-wrapper clearfix">
        <img class="logo" src="../../../assets/img/login.png" alt="img login">
        <h3>Registrar Usuario</h3>
        <div class="form-floating mb-3 mt-3">
            <input type="text" [(ngModel)]="username" class="form-control" placeholder="Correo Electrónico">
            <label>Correo Electrónico</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" [(ngModel)]="password" class="form-control" placeholder="Contraseña">
            <label>Contraseña</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" [(ngModel)]="confirmPassword" class="form-control" placeholder="Repetir contraseña">
            <label>Repetir contraseña</label>
        </div>
        <div class="btnLogin">
            <button type="button" (click)="addUser()" class="btn btn-primary btn-lg">REGISTRAR</button>
            <button type="button" class="btn btn-warning btn-lg btn-block" routerLink="/login">VOLVER</button>
        </div>
        </div>
    </div>
    <app-spinner *ngIf="loading"></app-spinner>
</div>